.main {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* .header {
  @apply relative z-10 mx-auto max-w-screen-lg pt-16 xl:max-w-screen-xl;
} */

.headerTopTitle {
  @apply bg-gradient-to-tl from-fuchsia-200 via-cyan-500 to-violet-400 bg-clip-text text-2xl font-bold leading-none tracking-tight text-transparent sm:text-4xl;
}

.headerTopTitleVital {
  @apply text-[orange] opacity-75;
}

.headerTitle {
  @apply mb-8 bg-gradient-to-tl from-fuchsia-200 via-cyan-500 to-violet-400 bg-clip-text text-6xl font-extrabold leading-none tracking-tight text-transparent sm:mb-10 lg:text-7xl;
}

.headerDescription {
  @apply mb-10 max-w-screen-lg text-lg font-medium text-gray-300 sm:mb-11 sm:text-2xl sm:leading-10;
}

.headerDescriptionCode {
  @apply bg-gradient-to-tl from-fuchsia-200 via-cyan-500 to-violet-400 bg-clip-text font-mono font-bold text-transparent;
}

.copyInner {
  @apply items-center space-y-4 sm:flex sm:space-x-6 sm:space-y-0;
}

.searchForm {
  top: 200px;
  width: 100%;
  @apply relative z-10 mx-auto max-w-screen-lg mb-2;
}

.layout {
  display: grid;
  grid-template-columns: 35% 65%;
  /* Set the width of columns */
  gap: 0;
  /* Remove any gap between columns */
  border-radius: 0.5rem;
}

.prompts {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  height: 550px;
  top: -60px;
}

.frame {
  @apply flex flex-col;
  height: 100vh;
  background: #f7f7f7;
  padding: 2rem;
  justify-content: center;
}

.cardWrapper {
  @apply col-span-10 opacity-0 sm:col-span-5 m-2;
  animation: show 0.5s forwards;
}

@keyframes show {
  to {
    @apply opacity-100;
  }
}

/* .footer {
  @apply mx-auto max-w-screen-lg pb-16 text-center font-bold text-gray-400 xl:max-w-screen-xl;
} */

.icon {
  margin-left: auto;
  margin-right: auto;
  height: 1.5rem;
  width: 1.5rem;
  --tw-text-opacity: 1;
  color: #000000;
  opacity: 1;
}

.stepsWrapper {
  padding: 0 10rem;
}