.feature_card {
  @apply relative overflow-hidden rounded-md p-4 shadow;
  background: #f4f4f4;
}

.listing_card {
  @apply relative h-full overflow-hidden rounded-md bg-transparent bg-opacity-5 p-4 shadow;
  border: 1px solid #f1f1f1;
}

.content {
  @apply flex h-full flex-col ml-12;
}

.title {
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: #303030;
}

.feature_desc {
  font-size: 0.7rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: #3e3e3e;
}

.listing_desc {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: #c4c4c4;
}


.iconContainer {
  left: 1.25rem;
  top: 1.25rem;
  @apply absolute flex items-center justify-center rounded-md opacity-100;
}

.feature_icon {
  height: 2rem;
  width: 2rem;
  --tw-text-opacity: 1;
  color: #000000;
}

.listing_icon {
  height: 1.5rem;
  width: 1.5rem;
  --tw-text-opacity: 1;
  color: #c7c7c7;
}